<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.james.basicpedometer">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- Required on some devices, harmless on others -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <application
    android:label="James' Pedometer"
    android:allowBackup="false">

    <activity
        android:name=".MainActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    <activity
        android:name=".SettingsActivity"
        android:exported="false"/>

    <service
        android:name=".StepService"
        android:exported="false"
        android:foregroundServiceType="health"/>
</application>

</manifest>
